header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.post {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: aliceblue;
  padding: 5px;
  width: 30%;
}

.post_header div {
  display: inline-block;
  margin-right: 10px;
}

.post_header a {
  font-size: 30px;
}

.preview_text {
  font-size: 20px;
}

.fieldWrapper {
  margin: 10px;
  text-align: center;
}

.fieldWrapper label {
  display: block;
}

.fieldWrapper textarea {
  border-radius: 5px;
  resize: none;
}

input {
  width: 20em;  height: 2em;
}

.comment_header div {
  display: inline-block;
}

.error {
  color: red;
  font-size: 30px;
}

.success {
  color: greenyellow;
  font-size: 30px;
}

.comment {
  border: solid 1px;
}

h3.fieldWrapper {
  font-size: 40px;
}

.description {
  font-size: 30px;
}

iframe {
  width: 30%;
  text-align: center;
  margin-left: 35%;
}