{% if user.is_authenticated %}
    <div>
        <a href="/">Home</a>
        |
        <a href="/create_post/">Create new post</a>
        |
        <a href="/logout/">Logout</a>
    </div>
{% else %}
    <div>
        <a href="/">Home</a>
        |
        <a href="/login/">Login</a>
        |
        <a href="/register/">Register</a>
    </div>
{% endif %}