{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|default:"Untitled Page" }}
        {% endblock title %}
    </title>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        {% block header %}
                {% include 'base_header.html' with user=user %}
        {% endblock header %}
    </header>
    <section id="main">
        {% block content %}
            <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
    </section>
</body>
</html>