{% extends 'base.html' %}
{% block title %}Create new post{% endblock title %}
{% block content %}
    <form action="/create_post/" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <strong>{{ form.title.label_tag }}</strong>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.preview_text.errors }}
            <strong>{{ form.preview_text.label_tag }}</strong>
            {{ form.preview_text }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <strong>{{ form.description.label_tag }}</strong>
            {{ form.description }}
        </div>
        <div class="fieldWrapper">
            {{ form.youtube_link.errors }}
            <strong>{{ form.youtube_link.label_tag }}</strong>
            {{ form.youtube_link }}
        </div>
        <div class="fieldWrapper">
            {{ form.soundcloud_link.errors }}
            <strong>{{ form.soundcloud_link.label_tag }}</strong>
            {{ form.soundcloud_link }}
        </div>
        <div class="fieldWrapper">
            <input type="submit" value="Create post">
        </div>
    </form>
{% endblock content %}