{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <p>You've already been logged in</p>
    {% else %}
        {% for message in messages %}
            <div class="success" style="text-align: center"> {{ message }}</div>
        {% endfor %}
        <div class="error" style="text-align: center"> {{ errors }}</div>
        <form method="post" action="/login/">
            {% csrf_token %}
            <div class="fieldWrapper">
                <div class="errors">{{ form.username.errors }}</div>
                <strong>{{ form.username.label_tag }}</strong>
                {{ form.username }}
            </div>
            <div class="fieldWrapper">
                <div class="errors">{{ form.password.errors }}</div>
                <strong>{{ form.password.label_tag }}</strong>
                {{ form.password }}
            </div>
            <div class="fieldWrapper">
                <input type="submit" value="Submit">
            </div>
        </form>
    {% endif %}
{% endblock content %}