{% extends 'base.html' %}
{% block title %}Main page{% endblock title %}
{% block content %}
    {% for post in all_posts %}
        <div class="post">
            <div class="post_header">
                <div><a href={{ post.detail_link }}>{{ post.title }}</a></div>
                <div>by {{ post.author }}</div>
            </div>
            <div class="preview_text">{{ post.preview_text }}</div>
        </div>
    {% endfor %}
{% endblock content %}