{% extends 'base.html' %}
{% block title %}Post details{% endblock title %}
{% block content %}
    <h3 class="fieldWrapper"> {{ post.title }}</h3>
    <div class="fieldWrapper description">{{ post.description }}</div>
    {% if post.soundcloud_link is not None %}{{ post.soundcloud_link |safe }}{% endif %}
    {% if post.youtube_link is not None %}{{ post.youtube_link |safe }}{% endif %}
    {% if user.is_authenticated %}
        <form method="post" action="make_comment/">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="id_comment">Leave a comment:</label>
                <textarea name="text" cols="40" rows="5" maxlength="300" id="id_comment">
            </textarea>
            </div>
            <div class="fieldWrapper">
                <input type="submit" value="Submit">
            </div>

        </form>
    {% else %}
        <p class="fieldWrapper error">You need to log in if you want to leave a comment</p>
    {% endif %}
    {% for comment in comments %}
        <div class="post comment">
            <div class="comment_header">
                <div><h3>{{ comment.author }}</h3></div>
                <div>wrote at</div>
                <div>{{ comment.date_posted }}</div>
            </div>
            <div>{{ comment.text }}</div>
        </div>
    {% endfor %}
{% endblock content %}