{% extends 'base.html' %}
{% block title %}Main page{% endblock title %}
{% block content %}
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <strong>{{ form.username.label_tag }}</strong>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <strong>{{ form.email.label_tag }}</strong>
            {{ form.email }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <strong>{{ form.password.label_tag }}</strong>
            {{ form.password }}
        </div>
        <div class="fieldWrapper">
            {{ form.bio.errors }}
            <strong>{{ form.bio.label_tag }}</strong>
            {{ form.bio }}
        </div>
        <div class="fieldWrapper">
            {{ form.first_name.errors }}
            <strong>{{ form.first_name.label_tag }}</strong>
            {{ form.first_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.last_name.errors }}
            <strong>{{ form.last_name.label_tag }}</strong>
            {{ form.last_name }}
        </div>
        <div class="fieldWrapper">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock content %}